.colom a {
  width: 100px;
  padding: 10px 50px;
  font-weight: 500;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(2, 2, 132);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}

 .colom a:hover {
  background-color: rgb(27, 27, 187);
  border: 2px solid rgb(2, 2, 132);
  color: rgb(183, 153, 0);

}
