.booking_form {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
}

.booking_form label {
  padding: 8px;
  color: blue;
  width: 30%;
}

.booking_form input {
  padding-top: 15px;
  border: 1px solid #0000002a;
  color: #000000;
  width: 70%;
}

.booking_form .submit {
  width: 100%;
  padding: 10px 15px;
  color: #03038c;
  border: 1px solid #03038c;
  border-radius: 4px;
}

.time__picker::before {
  content: "Journey Time";
  color: #7c8a97;
  margin-right: 0.5rem;
}

.textarea:focus,
.booking_form input:focus,
.booking_form select:focus {
  outline: none;
}

.booking_form .submit:hover {
  background-color: #03038c;
  color: aliceblue;
  
}

@media only screen and (max-width: 768px) {
  .booking_form {
    width: 100%;
  }

  .booking_form input,
  .textarea,
  .booking_form select {
    font-size: 0.8rem;
  }
}
